#landingpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  position: relative;
}
#landingpage img {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: absolute;
  transition: left 3s;
  left: 100vw;
  animation: carousel 75s linear infinite;
}
#landingpage img#img1 {
  animation-delay: -65.625s;
}
#landingpage img#img2 {
  animation-delay: -56.25s;
}
#landingpage img#img3 {
  animation-delay: -46.875s;
}
#landingpage img#img4 {
  animation-delay: -37.5s;
}
#landingpage img#img5 {
  animation-delay: -28.125s;
}
#landingpage img#img6 {
  animation-delay: -18.75s;
}
#landingpage img#img7 {
  animation-delay: -9.375s;
}
#landingpage #fond_landing_page {
  position: absolute;
  left: -10vw;
  background-color: #2d24247b;
  height: 100vh;
  width: 70vw;
  transform: skew(20deg);
}
#landingpage .titre {
  position: absolute;
  top: 80px;
  left: -100vw;
  height: calc(100vh - 80px);
  width: 40vw;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}
#landingpage .titre#titre2 h1 {
  animation-delay: 9.375s;
}
#landingpage .titre#titre2 p {
  animation-delay: 9.625s;
}
#landingpage .titre#titre2 .button {
  animation-delay: 9.875s;
}
#landingpage .titre#titre3 h1 {
  animation-delay: 18.75s;
}
#landingpage .titre#titre3 p {
  animation-delay: 19s;
}
#landingpage .titre#titre3 .button {
  animation-delay: 19.25s;
}
#landingpage .titre#titre4 h1 {
  animation-delay: 28.125s;
}
#landingpage .titre#titre4 p {
  animation-delay: 28.375s;
}
#landingpage .titre#titre4 .button {
  animation-delay: 28.625s;
}
#landingpage .titre#titre5 h1 {
  animation-delay: 37.5s;
}
#landingpage .titre#titre5 p {
  animation-delay: 37.75s;
}
#landingpage .titre#titre5 .button {
  animation-delay: 38s;
}
#landingpage .titre#titre6 h1 {
  animation-delay: 46.875s;
}
#landingpage .titre#titre6 p {
  animation-delay: 47.125s;
}
#landingpage .titre#titre6 .button {
  animation-delay: 47.375s;
}
#landingpage .titre#titre7 h1 {
  animation-delay: 56.25s;
}
#landingpage .titre#titre7 p {
  animation-delay: 56.5s;
}
#landingpage .titre#titre7 .button {
  animation-delay: 56.75s;
}
#landingpage .titre#titre8 h1 {
  animation-delay: 65.625s;
}
#landingpage .titre#titre8 p {
  animation-delay: 65.875s;
}
#landingpage .titre#titre8 .button {
  animation-delay: 66.125s;
}
#landingpage .titre .button {
  position: relative;
  left: -100vw;
  animation: slide_from_left 75s ease-in-out infinite;
  animation-delay: 0.5s;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landingpage .titre p {
  position: relative;
  left: -100vw;
  animation: slide_from_left 75s ease-in-out infinite;
  animation-delay: 0.25s;
  color: white;
  font-size: 1.9rem;
}
#landingpage .titre h1 {
  position: relative;
  left: -100vw;
  animation: slide_from_left 75s ease-in-out infinite;
}
#landingpage #nav_carousel {
  display: flex;
  position: absolute;
  top: 90vh;
  left: 25vw;
}
#landingpage #nav_carousel .button_nav_carrousel {
  height: 3px;
  width: 25px;
  margin: 10px;
  padding: 3px;
}
#landingpage #nav_carousel .button_nav_carrousel::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #ccae8b;
  transition: background-color 0.4s;
}
#landingpage #nav_carousel .button_nav_carrousel:hover::before {
  background-color: #271c1c;
}
#landingpage #nav_carousel #selector {
  background-color: #e3001b;
  height: 6px;
  width: 30px;
  margin: 11px;
  position: absolute;
  animation: selector 75s linear infinite;
}

#don {
  display: flex;
  margin-left: 20px;
}
#don .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 100px;
}
#don .background {
  position: relative;
  background-color: #ffd2d2;
  border-radius: 50% 50% 50% 50%;
  height: 30vw;
  min-width: 30vw;
  display: flex;
  align-items: center;
}
#don img {
  position: relative;
  margin: auto;
  width: 100%;
}
#don p {
  margin: 0rem 10rem;
}
#don br {
  content: " ";
  display: block;
  margin: 10px 0;
  line-height: 10px;
}
#don .item {
  background-color: white;
  border: 2px solid #ccae8b;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 20px;
  color: black;
  transition: background-color 0.4s;
}
#don .item:hover {
  background-color: #ffd2d2;
}
#don .all_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  margin-left: 13rem;
  margin-right: 5rem;
}
#don .button1 {
  font-size: 1.5rem;
  float: right;
  margin-top: 10px;
}

#formations {
  padding-left: 20px;
  background-color: #423c3c;
  color: white;
}
#formations .text {
  margin: 0 30px;
}
#formations .content {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
#formations h2 {
  color: white;
}
#formations img {
  width: 30vw;
  height: auto;
  position: relative;
}
#formations .imgWrapper {
  position: relative;
}
#formations .imgWrapper::before {
  content: "";
  background-color: #ccae8b;
  border-radius: 50%;
  height: 150%;
  width: 150%;
  position: absolute;
  top: -25%;
  left: -50%;
}
#formations li {
  font-size: 1.5rem;
  margin-left: 10rem;
}
#formations ul {
  margin: 3rem 0;
}

.cards {
  padding-left: 20px;
  min-height: calc(100vh - 80px);
}
.cards #all_actus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards .card {
  overflow: hidden;
  color: black;
  border: 1px solid #2d24247b;
  height: 450px;
  border-radius: 10px;
  margin: 20px;
  transition: box-shadow 0.4s;
}
.cards .card img {
  margin: 5% 5% 0 5%;
  height: auto;
}
.cards .card:hover {
  box-shadow: 5px 5px 10px #423c3cb0;
}
.cards .card_actu {
  width: 300px;
}
.cards .card_actu img {
  width: 90%;
}
.cards .card_actu_importante {
  width: 600px;
}
.cards .card_actu_importante img {
  width: 45%;
}
.cards .card_actu_importante .img_container {
  display: flex;
}
.cards .card_actu_importante .title {
  display: flex;
  align-items: center;
}
.cards .card_actu_importante .title h4 {
  margin: 0;
}
.cards p {
  margin: 20px;
}

@keyframes carousel {
  0% {
    left: 100vw;
  }
  86.5% {
    left: 100vw;
  }
  87.5% {
    left: 0;
    transform: scale(1);
  }
  99% {
    left: 0;
    transform: scale(1.3);
  }
  100% {
    left: -100vw;
    transform: scale(1);
  }
}
@keyframes slide_from_left {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  0.6% {
    opacity: 0;
  }
  1.25% {
    transform: translateX(200vw);
    opacity: 0.7;
  }
  1.9%, 11.25% {
    transform: translateX(200vw);
    opacity: 1;
  }
  12.25%, 100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}
@keyframes selector {
  0%, 11.5% {
    left: 0;
  }
  12.5%, 24% {
    left: 51px;
  }
  25%, 36.5% {
    left: 102px;
  }
  37.5%, 49% {
    left: 153px;
  }
  50%, 61.5% {
    left: 204px;
  }
  62.5%, 74% {
    left: 255px;
  }
  75%, 86.5% {
    left: 306px;
  }
  87.5%, 99% {
    left: 357px;
  }
  100% {
    left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .background {
    display: none !important;
  }

  .imgWrapper {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #landing_page p {
    font-size: 1.6rem;
    padding: 0;
  }
  #landing_page h1 {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */
