* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-style: regular;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #e3001b;
  border-radius: 5px;
  width: 6px;
}

::selection {
  background-color: #e3001a72;
}

#navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 2;
  background-color: #423c3cb0;
}
#navbar #burger {
  display: none;
  padding: 20px;
}
#navbar #burger .barre {
  position: relative;
  border-radius: 2px;
  background-color: #ccae8b;
  height: 4px;
  width: 30px;
}
#navbar #burger .barre::before, #navbar #burger .barre::after {
  content: "";
  background-color: #ccae8b;
  height: 4px;
  width: 30px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: -10px;
}
#navbar #burger .barre::after {
  top: 10px;
}
#navbar nav {
  height: 100%;
}
#navbar nav #nav {
  height: 100%;
  display: flex;
}
#navbar nav #nav.open {
  max-height: 900px;
}
#navbar nav #nav .nav_element {
  position: relative;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
  padding: 0px 30px 0px 10px;
}
#navbar nav #nav .nav_element:hover .menu {
  max-height: 800px;
  border: 1px solid #2d2424;
}
#navbar nav #nav .nav_element .menu {
  position: absolute;
  background-color: #423c3cb0;
  color: white;
  top: 80px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}
#navbar nav #nav .nav_element .menu li {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  max-height: 900px;
  overflow: hidden;
  transition: background-color 0.4s;
  transition: max-height 0.4s;
}
#navbar nav #nav .nav_element .menu li i {
  margin-right: 15px;
}
#navbar nav #nav .nav_element .menu li .element_title {
  padding: 10px;
}
#navbar nav #nav .nav_element .menu li .element_title.arrow i {
  transform: rotate(90deg);
}
#navbar nav #nav .nav_element .menu li .element_title:hover {
  background-color: #ccae8b;
  color: black;
  cursor: pointer;
}
#navbar nav #nav .nav_element .menu li .sous_menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  margin-left: 30px;
}
#navbar nav #nav .nav_element .menu li .sous_menu li {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#navbar nav #nav .nav_element .menu li .sous_menu li a {
  font-size: 1.5rem;
  padding: 0px;
}
#navbar nav #nav .nav_element .menu li .sous_menu li:hover {
  background-color: #ffd2d2;
}
#navbar nav #nav .nav_element .menu li .sous_menu li:hover a {
  color: black;
}
#navbar nav #nav .nav_element .menu li .sous_menu.open {
  max-height: 600px;
}
#navbar nav #nav .nav_element .menu li.closed {
  max-height: 0;
}
#navbar nav #nav a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #fff;
}
#navbar nav #nav b {
  padding: 0px 10px;
}
#navbar nav #nav em {
  font-style: normal;
}
#navbar img {
  height: 80px;
  width: auto;
}

.button1 {
  background-color: #e3001b;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  transition: background-color 0.2s;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  float: right;
  margin-top: 10px;
}
.button1:hover {
  background-color: #271c1c;
}

.nav_button {
  position: relative;
  color: black;
  font-weight: 300;
}
.nav_button::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  background-color: #ccae8b;
  height: 5px;
  width: 0;
  transition: width 0.4s;
}
.nav_button:hover::before {
  width: 100%;
}

footer {
  background-color: #423c3c;
  border: 2px solid #2d2424;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer #infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .info {
  color: white;
  font-size: 1.4rem;
  padding: 5px;
  padding-left: 2rem;
}
footer .all_resaux {
  display: flex;
  width: 25vw;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
}
footer .resaux {
  font-size: 30px;
  padding: 0;
}
footer .resaux .wrapper {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .resaux .wrapper:hover {
  background-color: white;
}
footer .resaux .wrapper i {
  margin: 0;
}
footer a {
  font-size: 1.4rem;
  color: white;
  transition: color 0.3s;
  padding: 5px;
}
footer a:not(.resaux):hover {
  color: #e3001b;
}
footer .twitter {
  color: #00acee;
}
footer .facebook {
  color: #3B5998;
}
footer .instagram {
  color: #C32AA3;
}
footer .youtube {
  color: #ff0000;
}
footer .tiktok {
  color: #000000;
}
footer .legal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 8px;
  }

  #nav {
    background-color: #ccae8b;
    position: absolute;
    top: 80px;
    overflow: hidden;
    left: 0;
    max-height: 0;
    flex-direction: column;
    transition: max-height;
  }

  #navbar #burger {
    display: block;
  }
}

/*# sourceMappingURL=nav.css.map */
