// pallette de couleur

$main_red: #e3001b;
$light_red: #ffd2d2;
$uniform_grey: #ccae8b;
$nav_grey_transparent: #423c3cb0;
$nav_grey_no_transparent: #423c3c;
$landing_page_grey: #2d24247b;

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
    font-style: regular;
}

p{
    font-size: 1.4rem;
    margin-left: 20px;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
}

i{
    margin-right: 15px;
}

h1{
    color: white;
    font-size: 6rem;
    text-align: center;
    margin: 20px;
}



$nav_height: 80px;

#navbar{
    position: absolute;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: $nav_height;
    z-index: 2;
    background-color: $nav_grey_transparent;

    nav{
        height: 100%;
        
        #nav{
            height: 100%;
            display:flex; 
            .nav_element{
                position: relative;
                display: flex;
                align-items: center;
                list-style-type: none;
                height: 100%;
                padding: 0px 30px 0px 10px;
                &:hover .menu{
                    max-height: 300px;
                    border: 1px solid $nav_grey_no_transparent;
                }
                
                //menu deroulant
                .menu{
                    position: absolute;
                    background-color: $nav_grey_transparent;
                    color: white;
                    
                    top: $nav_height;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s;
                    li{
                        display: flex;
                        flex-direction: row;
                        font-size: 1.4rem;
                        padding: 10px;
                        i{
                            margin-right: 15px;
                        }
                        transition: background-color 0.4s;
                        &:hover{
                            background-color: $uniform_grey;
                            cursor: pointer;
                        }
                    }

                }

            }
            a{
                display: flex;
                align-items: center;
                padding: 15px;
                color: #fff;
            }
            b{
                padding: 0px 10px;
            } 
            em{
                font-style: normal;
            }          
        }
    }
    img{
        height: $nav_height;
        width: auto;
    }
}

.button1{
    background-color: $main_red;
    color: white;
    border-radius: 10px;
    padding:15px 20px;
    transition: background-color 0.2s;
    position: relative;
    &:hover{
        background-color: #271c1c;
    }
}
.button2{
    background-color: $uniform_grey;
    color: white;
    border-radius: 10px;
    padding:15px 20px;
    transition: background-color 0.2s;
    position: relative;
    &:hover{
        background-color: #271c1c;
    }
}

.nav_button{
    position: relative;
    color:black; 
    font-weight: 300;
    &::before{
        content:'';
        position: absolute;
        top: 45px;
        left: 0;
        background-color: $uniform_grey;
        height: 5px;
        width: 0;
        transition: width 0.4s;
    }

    &:hover{
        &::before{
            width: 100%;
        }
    }
}


// landing page
$time_animation: 75s;
#landingpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
    img{
        min-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
        position: absolute;
        transition: left 3s; 
        left: 100vw;
        &#img1{
            animation: carousel $time_animation linear infinite;
            animation-delay: calc($time_animation / 8 * (-7));
        }
        &#img2{
            animation: carousel $time_animation linear infinite;
            animation-delay: calc($time_animation / 8 * (-6))

        }&#img3{
            animation: carousel $time_animation linear infinite;
            animation-delay: calc($time_animation / 8 * (-5));
        }&#img4{
            animation: carousel $time_animation linear infinite;
            animation-delay: calc($time_animation / 8 * (-4));
        }
    }
    #fond_landing_page{
        position: absolute;
        top: $nav_height;
        left:-10vw;
        background-color: $landing_page_grey;
        height: calc(100vh - $nav_height);
        width: 70vw;
        transform: skew(20deg);

    }
    .titre{
        &#titre2{
            h1{
                animation-delay: calc($time_animation / 8)
            }p{
                animation-delay: calc($time_animation / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation / 8 + 0.5s)
            }   
        }
        &#titre3{
            h1{
                animation-delay: calc($time_animation *2 / 8)
            }p{
                animation-delay: calc($time_animation *2 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation *2 / 8 + 0.5s)
            }   
        }
        position: absolute;
        top: $nav_height;
        left:0;
        height: calc(100vh - $nav_height);
        width: 40vw;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        
        .button{
            position: relative;
            left: -100vw;
            animation: slide_from_left calc($time_animation / 8) ease-in-out;
            animation-delay: 0.5s;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            position: relative;
            left: -100vw;
            animation: slide_from_left calc($time_animation / 8) ease-in-out;
            animation-delay: 0.25s;
            color: white;
            font-size: 1.9rem;
        }
        h1{
            position: relative;
            left: -100vw;
            animation: slide_from_left calc($time_animation / 8) ease-in-out;
        }
    }
}


//animations
@keyframes carousel{
    0%{
        left: 100vw;
    }86.5%{
        left:100vw;
    }87.5%{
        left:0;
        transform: scale(1);
    }99%{
        left:0;
        transform: scale(1.3);
    }100%{
        left:-100vw;
        transform: scale(1);
    }
}

@keyframes slide_from_left {
    0%{
        left: -100vw;
        opacity: 0;
    }5%{
        opacity: 0;
    }10%{
        left:0;
        opacity: 0.7;
    }15%, 90%{
        left: 0;
        opacity: 1;
    }100%{
        left: -100vw;
        opacity: 0;
    }
}


