// pallette de couleur

$main_red: #e3001b;
$light_red: #ffd2d2;
$uniform_grey: #ccae8b;
$nav_grey_transparent: #423c3cb0;
$nav_grey_no_transparent: #423c3c;
$landing_page_grey: #2d24247b;

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
    font-style: regular;

}

p{
    font-size: 1.4rem;
    margin-left: 20px;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
}

i{
    margin-right: 15px;
    transition: transfrom 0.4s;
}

h1{
    color: white;
    font-size: 6rem;
    text-align: center;
    margin: 20px;
}


$nav_height: 80px;

#navbar{
    position: absolute;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: $nav_height;
    z-index: 2;
    background-color: $nav_grey_transparent;

    nav{
        height: 100%;
        
        #nav{
            height: 100%;
            display:flex; 
            .nav_element{
                position: relative;
                display: flex;
                align-items: center;
                list-style-type: none;
                height: 100%;
                padding: 0px 30px 0px 10px;
                &:hover .menu{
                    max-height: 800px;
                    border: 1px solid $nav_grey_no_transparent;
                }
                
                //menu deroulant
                .menu{
                    position: absolute;
                    background-color: $nav_grey_transparent;
                    color: white;
                    
                    top: $nav_height;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s;
                    li{
                        display: flex;
                        flex-direction: column;
                        font-size: 1.4rem;
                        max-height: 900px;
                        overflow: hidden;
                        i{
                            margin-right: 15px;
                        }
                        transition: background-color 0.4s;
                        .element_title{
                            padding:10px;
                            &.arrow{
                                i{
                                    transform: rotate(90deg);
                                }
                            }
                        }
                        .element_title:hover{
                            background-color: $uniform_grey;
                            color: black;
                            cursor: pointer;
                        }
                        .sous_menu{
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.4s;
                            margin-left: 30px;
                            li{
                                padding: 10px;
                                display: flex;
                                flex-direction: row;
                                &:hover{
                                    background-color: $light_red;
                                    color: black;
                                }
                            }
                            &.open{
                                max-height: 600px;
                            }
                        }&.closed{
                            max-height: 0;
                        }
                        transition: max-height 0.4s
                    }

                }

            }
            a{
                display: flex;
                align-items: center;
                padding: 15px;
                color: #fff;
            }
            b{
                padding: 0px 10px;
            } 
            em{
                font-style: normal;
            }          
        }
    }
    img{
        height: $nav_height;
        width: auto;
    }
}

.button1{
    background-color: $main_red;
    color: white;
    border-radius: 10px;
    padding:15px 20px;
    transition: background-color 0.2s;
    position: relative;
    display: inline-block;
    &:hover{
        background-color: #271c1c;
    }
}

.nav_button{
    position: relative;
    color:black; 
    font-weight: 300;
    &::before{
        content:'';
        position: absolute;
        top: 45px;
        left: 0;
        background-color: $uniform_grey;
        height: 5px;
        width: 0;
        transition: width 0.4s;
    }

    &:hover{
        &::before{
            width: 100%;
        }
    }
}


// landing page
$time_animation: 75s;
#landingpage{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    position: relative;
    img{
        min-width: 100vw;
        min-height: 100vh;
        object-fit: cover;
        position: absolute;
        transition: left 3s; 
        left: 100vw;
        animation: carousel $time_animation linear infinite;
        &#img1{
            animation-delay: calc($time_animation / 8 * (-7));
        }
        &#img2{
            animation-delay: calc($time_animation / 8 * (-6))

        }&#img3{
            animation-delay: calc($time_animation / 8 * (-5));
        }&#img4{
            animation-delay: calc($time_animation / 8 * (-4));
        }&#img5{
            animation-delay: calc($time_animation / 8 * (-3));
        }
        &#img6{
            animation-delay: calc($time_animation / 8 * (-2));
        }
        &#img7{
            animation-delay: calc($time_animation / 8 * (-1));
        }
    }
    #fond_landing_page{
        position: absolute;
        top: $nav_height;
        left:-10vw;
        background-color: $landing_page_grey;
        height: calc(100vh - $nav_height);
        width: 70vw;
        transform: skew(20deg);

    }
    .titre{
        &#titre2{
            h1{
                animation-delay: calc($time_animation / 8)
            }p{
                animation-delay: calc($time_animation / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation / 8 + 0.5s)
            }   
        }
        &#titre3{
            h1{
                animation-delay: calc($time_animation *2 / 8)
            }p{
                animation-delay: calc($time_animation *2 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation *2 / 8 + 0.5s)
            }   
        }
        &#titre4{
            h1{
                animation-delay: calc($time_animation *3 / 8)
            }p{
                animation-delay: calc($time_animation *3 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation *3 / 8 + 0.5s)
            }   
        }
        &#titre5{
            h1{
                animation-delay: calc($time_animation * 4 / 8)
            }p{
                animation-delay: calc($time_animation * 4 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation *4 / 8 + 0.5s)
            }   
        }
        &#titre6{
            h1{
                animation-delay: calc($time_animation * 5 / 8)
            }p{
                animation-delay: calc($time_animation * 5 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation * 5 / 8 + 0.5s);
            }   
        }
        &#titre7{
            h1{
                animation-delay: calc($time_animation * 6 / 8)
            }p{
                animation-delay: calc($time_animation * 6 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation * 6 / 8 + 0.5s);
            }   
        }
        &#titre8{
            h1{
                animation-delay: calc($time_animation * 7 / 8)
            }p{
                animation-delay: calc($time_animation * 7 / 8 + 0.25s)

            }.button{
                animation-delay: calc($time_animation * 7 / 8 + 0.5s);
            }   
        }
        position: absolute;
        top: $nav_height;
        left: -100vw;
        height: calc(100vh - $nav_height);
        width: 40vw;
        margin-left: 5vw;
        display: flex;
        align-items: center;
        
        .button{
            position: relative;
            left: -100vw;
            animation: slide_from_left $time_animation ease-in-out infinite;
            animation-delay: 0.5s;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p{
            position: relative;
            left: -100vw;
            animation: slide_from_left $time_animation ease-in-out infinite;
            animation-delay: 0.25s;
            color: white;
            font-size: 1.9rem;
        }
        h1{
            position: relative;
            left: -100vw;
            animation: slide_from_left $time_animation ease-in-out infinite;
        }
    }
    #nav_carousel{
        display: flex;
        position: absolute;
        top: 90vh;
        left: 50vh;
        .button_nav_carrousel{
            height: 3px;
            width: 25px;
            margin: 10px;
            padding: 3px;
            &::before{
                content:"";
                position: absolute;
                height: 3px;
                width: 25px;
                background-color: $uniform_grey;
                transition: background-color 0.4s;
                
            }
            &:hover::before {background-color:#271c1c}
        }
        #selector{
            background-color:$main_red;
            height: 6px;
            width: 30px;
            margin: 11px;
            position: absolute;
            animation: selector $time_animation linear infinite;
            
        }
    }
}



//animations
@keyframes carousel{
    0%{
        left: 100vw;
    }86.5%{
        left:100vw;
    }87.5%{
        left:0;
        transform: scale(1);
    }99%{
        left:0;
        transform: scale(1.3);
    }100%{
        left:-100vw;
        transform: scale(1);
    }
}

@keyframes slide_from_left {
    0%{
        transform: translateX(100vw);
        opacity: 0;
    }0.6%{
        opacity: 0;
    }1.25%{
        transform: translateX(200vw);
        opacity: 0.7;
    }1.9%, 11.25%{
        transform: translateX(200vw);
        opacity: 1;
    }12.25%, 100%{
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes selector {
    0%, 11.5%{
        left: 0;
    }12.5%, 24%{
        left: 51px;
    }25%, 36.5%{
        left: 102px;
    }37.5%, 49%{
        left: 153px;
    }50%, 61.5%{
        left: 204px;
    }62.5%, 74%{
        left: 255px;
    }75%, 86.5%{
        left: 306px;
    }87.5%, 99%{
        left: 357px;
    }100%{
        left: 0;
    }
    
}


